doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title stpwtch
        link(rel="shortcut icon", href="img/favicon/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main.css")
        script(src="js/app.js", defer)
    body.container
        .stopwatch
            .display
                p.display__numbers
                    span.display__number(data-time="minutes") 00
                    span.display__number :
                    span.display__number(data-time="seconds") 00
                    span.display__number :
                    span.display__number(data-time="tens") 00
            .controllers
                button.btn(data-action="start") start
                //- button.btn(data-action="lap") lap
                button.btn(data-action="stop") stop
                button.btn.btn--reset(data-action="reset") reset
            //- .laplog
            //-     ul.laplog__listItems
            //-         li.laplog__item Lap 1:
            //-         li.laplog__item Lap 2:
            //-         li.laplog__item Lap 3:
